<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% extends 'bootstrap/base.html' %}'

{% block content %}
<meta http-equiv="refresh" content="2" >
<header>
    <div class="jumbotron text-center">
        <h1>Freida Scraping Tool</h1>
    </div>
</header>
<div class="container">

    {% if progress['completed'] != False %}

    <form action="/scrape">
        <!--<div class="form-row">-->
        <!--<input type="text" value="Enter url to scrape" class="form-control" />-->
        <!--</div>-->
        <!--<br>-->
        <div class="form-row">
            <input type="submit" value="Start Scraping" class="btn-info btn-lg" />
        </div>
    </form>
    {%  endif %}
    {% if progress['errors'] == True %}
            <h6> There was an error while scraping</h6>
        {% else %}
            <div />
    {% endif %}
    {% if progress['completed'] == True %}
            <h5> Extraction is completed</h5>
        {% elif progress['completed'] == False %}
            <h5> Extraction in progress ...</h5>
        {% else %}
            <div />
    {% endif %}

</div>
<div class="container" class="panel panel-default">
    <div>
        <h2>{{progress['items_scraped']}} items scraped out of {{ progress['total'] }}</h2>
    </div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Program Name</th>
                <th>Program Id</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for item in progress['items'] %}
            <tr>
                <td>{{ item['Program Name'] }}</td>
                <td>{{ item['Program Id'] }}</td>
                <td>{{ item['Location'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br><br><br>
<!--<script>-->
<!--$(document).ready(function() {-->
    <!--setInterval(-->
        <!--$.ajax({-->
            <!--url: "/",-->
            <!--context: document.body,-->
            <!--success: function(s,x){-->
                <!--$(this).html(s);-->
        <!--}-->
    <!--});-->
    <!--,5000); // call every 10 seconds-->
<!--});-->
<!--</script>-->
{% endblock %}